
/* Adaptability / Адаптивность */
@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: none;
	}
}

@media (min-width: 530px) {
    .portfolio-item {
        flex-basis: 50%;
        flex-shrink: 0;
    }
}

@media (min-width: 768px) {
    .portfolio-item {
    flex-basis: 27%;
    }
}

body {  
	font-family: wf_3a7c021ef612481dabc174609;
	src: url("https://static.wixstatic.com/ufonts/8ff6ba_3a7c021ef612481dabc17460920ae043/woff2/file.woff2") format("woff2");
	width: 100%;
   	font-size: 20px;
	color: #000000;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}


/* RESULTS START / НАЧАЛО РЕЗУЛЬТАТОВ */
/* Button header / Кнопка в шапке */
.button_header {
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #95a4c9;
    color: #ffffff;
    font-family: wfont_8ff6ba_ede16afb920c4f67b88200f9236465de,wf_ede16afb920c4f67b88200f92,orig_next_art_bold;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: .4s;
}

.button_header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

.button_header:hover:after {
    border-color: #95a4c9;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}
/* RESULTS START / НАЧАЛО РЕЗУЛЬТАТОВ */




/* RESULTS START / НАЧАЛО РЕЗУЛЬТАТОВ */
.trek {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;

}

.trek_img {
    width: 50px;
    height: 50px;
    margin: 0 15px;
}

/* Markup of results / Разметка результатов */
.result_1 {
	margin: 0 auto;
    color: #000000;
    border: 1px solid #000000;
    position: relative;
    font-size: 15px;
	font-weight: bold;
    letter-spacing: .3em;
	font-family: wf_3a7c021ef612481dabc174609;
    padding: 10px;
    margin-top: 30px;
    transition: .2s ease-in-out;
    cursor: pointer;
	text-align: center;
    width: 800px;
}

.result_1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #f9e96b;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.result_2:before {
    background: #95a4c9;
}

.result_3:before {
    background: #e4716c;
}

.result_1_text {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.result_1_text h2 {
    padding: 0 20px;
}

.result_1_text_number {
    position: relative;
    text-align: center;
    color: white;
    order: -1;
}

/* Centered text / Центрация картинки(венка) */
.centered_img {
    height: 60px;
    position: absolute;
    top: 55%;
    left: 47%;
    transform: translate(-50%, -50%);
}

/* References to works / Ссылки на работы */
.link_result {
	background-image: url("photo/01.jpg");
	background-size: cover;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.link_result2 {
	background-image: url("photo/03.jpg");
}

.link_result3 {
	background-image: url("photo/02.jpg");
}

.link_result_href {
    margin: 3px;
    position: relative;
    float: right;
    background: #73c0bb;
    width: 20px;
    height: 20px;
	transition-duration: 300ms;
}

.link_result_href:hover {
	transition: background 0.2s linear;
    background: #546eae;
}

.link_result_href:hover:after {
	opacity: 1;
}

.arrow {
    height: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Participants / Участники */
.participants_elem {
    position: relative;
    background: #f9e96b;
	padding: 10px;
	border: 1px solid;
	border-image: #0000;
    width: 200px;

    margin: 0 auto;
	display: flex;
	justify-content: center;
    align-items: center;
}

.participants {
    margin-top: 4px;
}

/* RESULTS END / КОНЕЦ РЕЗУЛЬТАТОВ */
















