@media (min-width: 530px) {
    .portfolio-item {
        flex-basis: 50%;
        flex-shrink: 0;
    }
}

@media (min-width: 768px) {
    .portfolio-item {
    flex-basis: 27%;
    }
}

body {  
	font-family: wf_3a7c021ef612481dabc174609;
	src: url("https://static.wixstatic.com/ufonts/8ff6ba_3a7c021ef612481dabc17460920ae043/woff2/file.woff2") format("woff2");
	width: 100%;
   	font-size: 20px;
	color: #000000;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

h3 span {
	font-family: wfont_8ff6ba_ede16afb920c4f67b88200f9236465de,wf_ede16afb920c4f67b88200f92,orig_next_art_bold;

}





/* RESULTS START / НАЧАЛО РЕЗУЛЬТАТОВ */
/* Button header / Кнопка шапки */
.button_header {
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #95a4c9;
    color: #ffffff;
    font-family: wfont_8ff6ba_ede16afb920c4f67b88200f9236465de,wf_ede16afb920c4f67b88200f92,orig_next_art_bold;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: .4s;
}

.button_header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

.button_header:hover:after {
    border-color: #95a4c9;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}
/* RESULTS START / НАЧАЛО РЕЗУЛЬТАТОВ */





/* RESULTS START / НАЧАЛО РЕЗУЛЬТАТОВ */
.portfolio-wrap {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio-item {
    padding: 10px;
}
.portfolio-item a {
    display: block;
    text-decoration: none;
    color: white;
}
.portfolio-item-wrap {
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background: black;
    color: white;
}
.portfolio-item img {
    display: block;
    width: 100%;
    opacity: .60;
    transition: .5s ease-in-out;
}
.portfolio-item-inner {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid white;
    border-width: 0 1px 1px;
    transition: .4s ease-in-out;
}
.portfolio-heading {
    overflow: hidden;
    transform: translateY(-50%);
}
.portfolio-heading h3 {
	font-family: wfont_8ff6ba_ede16afb920c4f67b88200f9236465de,wf_ede16afb920c4f67b88200f92,orig_next_art_bold;

    font-size: 25px;
    display: table;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}
.portfolio-heading h3:before, .portfolio-heading h3:after {
    content: "";
    position: absolute;
    height: 1px;
    background: white;
}
.portfolio-heading h3:before {
    left: -50px;
}
.portfolio-heading h3:after {
    right: -50px;
}
.portfolio-item-inner ul {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 0 20px;
    opacity: 0;
    list-style: none;
    font-family: wf_3a7c021ef612481dabc174609;
    transition: .4s ease-in-out;
}
.portfolio-item-inner li {
    position: relative;
    font-size: 15px;
    padding: 5px 0;
}
.portfolio-item-inner li:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -2px;
    bottom: -4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
    box-shadow: 10px 0 0 white, -10px 0 0 white;
}
.portfolio-item-inner li:last-child:after {
    content: none;
}
.portfolio-item:hover img {
    opacity: 0.3;
    transform: scale(1.1);
}
.portfolio-item:hover .portfolio-item-inner {
    top: 7%;
    bottom: 7%;
}
.portfolio-item:hover ul {
    opacity: 1;
    transition-delay: .5s;
}
/* RESULTS END / КОНЕЦ РЕЗУЛЬТАТОВ */






/* ALL RESULT START / НАЧАЛО ВСЕХ РЕЗУЛЬТАТОВ */
.all_result_item {
    position: relative;
    display: table;
    margin: 50px auto;
 }
 .all_result_item img {
    display: block;
    width: 800px;
    height: 470px;
 }
 .all_result_item:before, .all_result_item:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #95a4c9;
 }
 .all_result_item:before {
    top: -15px;
    left: -15px;
 }
 .all_result_item:after {
    right: -15px;
    bottom: -15px;
 }
 .all_result_image {
    position: relative;
    z-index: 2;
    padding: 5px;
    background: white;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
 }
/* ALL RESULT END / КОНЕЦ ВСЕХ РЕЗУЛЬТАТОВ */



















.result_1 {
	margin: 0 auto;
    color: #000000;
    border: 1px solid #000000;
    position: relative;
    font-size: 15px;
	font-weight: bold;
    letter-spacing: .3em;
	font-family: wf_3a7c021ef612481dabc174609;
    padding: 30px;
    margin-top: 30px;
    transition: .2s ease-in-out;
    cursor: pointer;
	text-align: center;
}

.result_1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #f9e96b;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.result_1_text {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.result_1_text h2 {
    padding: 0 20px;


}


.result_1_text_number {
}